#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

menu {
  display: flex;
  gap: 2ch;
  flex-wrap:wrap;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

input {
  padding: 1em;
}